<html>

<head>
    <title>
        Facebook Clone
    </title>
</head>

<body>
    <div>
        <h1>Facebook</h1>
    </div>
    <span>
        <div>Login</div>
        <form action="/login" method="POST">
            <input type="text" name="email">
            <input type="text" name="password">
            <input type="submit">
        </form>


        <form action="signup" method="get">
            <input type="submit" name="signup" title="sign up">
        </form>
    </span>
</body>

</html>