<html>
<head>

    <link rel="stylesheet" type="text/css" href="/login_style.css">
    <title>
        Facebook Clone
    </title>
    <script>
        function myFunction(){
            console.log(document.cookie) ;
        }
        </script>
</head>

<script>
function myFunction(){
    console.log(document.cookie) ;
}
</script>

<body>
    <div class="center">
        <h1 class="title">Facebook</h1>
    </div>

            <div id="login_form">
                <h3 class="title">Login</h3>
                <form action="/login" method="POST">
                    <input class="fields" type="text" name="email" , placeholder="Enter Email"><br>
                    <input  class="fields" type="text" name="password" , placeholder="Enter Password"><br><br>
                    <input id="login_btn" type="submit" value="Sign in">
                </form>

                <div class="divider"></div>

                <form action="signup" method="get">
                    <input id = "sign_up_btn"
                    type="submit" name="signup" title="sign up" value="Sign Up" onclick="myFunction()">
                </form>
            </div>

</body>

</html>