<div class="post_card">
    <h4 class="postName">
        <%= post.user_name %>
    </h4>

    <div class="divider"></div>
    
    <h3 class="postContent">
        <%= post.content %>
    </h3>
</div><br>