<html>

<head>
    
    <link rel="stylesheet" type="text/css" href="/login_style.css">
    <title>
        Facebook Sign Up
    </title>
</head>

<body>
    <div class="center">
        <h1 class="title">Facebook</h1>
    </div>
    <div id="login_form">
        <h3 class="title">Login</h3>
        <form action="/signupSubmit" method="POST">

            <input class="fields"
            type="text" name="email" placeholder="Enter Your Email"><br>

           
            <input class="fields"
            type="text" name="password" placeholder="Enter Your Password"><br>

         
            <input class="fields"
            type="text" name="first_name" placeholder="Enter Your First Name"><br>

            <input class="fields"
            type="text" name="last_name" placeholder="Enter Your Last Name"><br>

            <input class="fields"
            type="text" name="age" placeholder="Enter Your Age"><br><br>    

            <input id="login_btn" type="submit" value="Create Account"> 
        </form>
        <div class="divider"></div>
        <form  action="/" method="get">
            <input id="sign_up_btn" type="submit" name="signup" title="sign up" value="Login">
        </form>
    </div>
</body>

</html>