<html>

<head>
    <title>
        Facebook Sign Up
    </title>
</head>

<body>
    <div>
        <h1>Facebook</h1>
    </div>
    <span>
        <div>Login</div>
        <form action="/signupSubmit" method="get">
            <label>email</label>
            <input type="text" name="email"><br>
            <label>password</label>
            <input type="text" name="password"><br>
            <label>Age</label>
            <input type="text" name="age"><br>
            <input type="submit"> 
        </form>
        <form action="/" method="get">
            <input type="submit" name="signup" title="sign up">
        </form>
    </span>
</body>

</html>